.clients {
    display: flex;
}

.clients__item {
    display: flex;
    cursor: pointer;
    fill: #AFB1B8;
    margin-left: 30px;

    &:first-child {
            margin-left: 0;
        }
}

.clients__link {
    @include centeredFlex (flex);
    
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color 250ms $timing-function,
        fill 250ms $timing-function;


    &:hover, &:focus {
            fill: #2196F3;
            border-color: $accent-color;
        }
}

.clients__icon {
    width: 106px;
    height: 60px
}