.contacts {
    display: block;

    @media screen and (min-width: 768px) {
        margin-left: auto;
        }

    @media screen and (min-width: 1200px) {
        display: flex;
        }
}

.contacts__item {

    @media screen and (min-width: 768px) {
            margin-bottom: 10px;
        }

    @media screen and (min-width: 1200px) {
        margin-left: 50px;
        margin-bottom: 0;
        
            &:first-child {
                margin-left: 0px;
            }
        }
    
}

.contacts__link {
    display: inline-flex;
    color: $primary-text-color;
    background-color: $primary-bgc-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover, &:focus {
        display: flex;
        color: $accent-color;
    } 
}

.contacts__icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
}