.contacts {
    display: none;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width:1199px) {
        display: block;
        margin-top: 21px;
        margin-bottom: 21px;
        margin-left: auto;
        }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        }
}

.contacts__item {
    @media screen and (min-width: 768px) and (max-width:1199px) {
            margin-bottom: 10px;
            margin-left: 50px;

            &:last-child {
                margin-bottom: 0px;
                // margin-left: 40px;
                }

        }

    @media screen and (min-width: 1200px) {
        margin-left: 50px;
        
            &:first-child {
                margin-left: 0px;
            }
        }
    
}

.contacts__link {
    display: inline-flex;
    color: $primary-text-color;
    background-color: $primary-bgc-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover, &:focus {
        display: flex;
        color: $accent-color;
    } 

}

.contacts__icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
}