.section--features {
    // padding-bottom: 30px;
    @media screen and (max-width: 767px) {
        width: 480px;
    }
}

.features {
    display: block;
    
        @media screen and (min-width: 480px) {
            width: 480px;
        }
    
        @media screen and (max-width: 767px) {
            width: 480px;
        }
    
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            width: 768px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
            display: flex;
        }

}

.features__item {
    // width: 270px;
    // margin: 15px;
    
    border-radius: 4px;

    @media screen and (max-width: 767px) {
        width: 450px;

        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;

        &:last-child {
                margin-bottom: 0;
            }
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        margin: 15px;

        &:nth-last-child(-n+2) {
                margin-bottom: 0;
            }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        padding-bottom: 0;

        &:nth-last-child(-n+2) {
                margin-bottom: 15px;
            }
    }
}

.features__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
            text-align: center;
        }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;

    @extend %text;
    font-size: 14px;
    line-height: 1.71;
}

.features__icon {
    @include centeredFlex (flex);

    // width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $secondary-bgc-color;

    @media screen and (min-width: 480px) {
            width: 450px;
        }
    @media screen and (min-width: 768px) {
            width: 354px;
        }
    @media screen and (min-width: 1200px) {
            width: 270px;
        }
}