.features {
    // display: block;

    // @media screen and (min-width: 480px) {
    //         width: 480px;
    //     }
    
    // @media screen and (min-width: 768px) {
    //         display: flex;
    //         flex-wrap: wrap;
    //         gap: 30px;
    //         width: 768px;
    //     }
    
    // @media screen and (min-width: 1200px) {
    //         width: 1200px;
    //     }

        display: flex;
        flex-wrap: wrap;
        gap: 30px;

}

.features__item {
    width: 100%;
    border-radius: 4px;
    

    @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }
    
    @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
        } 
}

.features__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
            text-align: start;
        }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;

    @extend %text;
    font-size: 14px;
    line-height: 1.71;
}

.features__icon {
    @include centeredFlex (flex);
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $secondary-bgc-color;
}