.container--footer {
    display: flex;

    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        flex-wrap: wrap;
    }
        
    @media screen and (min-width: 1200px) {
        min-width: 1200px;
        flex-wrap: nowrap;
    }
}

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $hero-bgc-color;

    @media screen and (max-width: 767px) {
        min-width: 480px;
        height: 603px;
        }

    @media screen and (min-width: 768px) {
        min-width: 768px;
        height: 463px;
        }

   @media screen and (min-width: 1200px) {
    //    width: 1600px;
          height: 252px;
   }

}

.footer__contacts {
    display: block;  

    @media screen and (max-width: 767px) {
      justify-content: center;
      align-items: center;  
      text-align: center;
    }

    @media screen and (min-width: 768px) {
        width: 232px;
        margin-left: 76px;

        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        text-align: start;
    }
}

.footer__address {
    margin-bottom: 9px;
    margin-top: 20px;

    color: $white-color;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.footer__accent {
    color: $white-color;
}

.footer__nav {
    display: block;

    @media screen and (max-width:767px) {
        margin-left: 155px;
    }

    @media screen and (min-width:768px) {
        margin-left: 50px;
    }

    @media screen and (min-width:1200px) {
        margin-left: 0;
    }
}

.footer__link {
    display: flex;
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms $timing-function;

    &:hover, &:focus {
            color: $accent-color;
            text-decoration: none;
        }
     
}

.footer__link--mail {
    margin-bottom: 9px;
}