.main {
    border-bottom: 1px solid #ECECEC;   
}

.page-header {
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and (min-width:768px) and (max-width:1199px) {
            height: 80px;
        }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        height: 80px;
    }
}

.page-header__accent {
    color: $title-text-color;
}




