.section {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $title-text-color;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
        
    @include desktop {
        margin-bottom: 50px;
        
        font-size: 36px;
        line-height: 1.17;
    }
}

.section__title--none {
    display: none;
}