.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: 165px;
        flex-direction: column;
        justify-content: flex-start;
        }

}

.social__title {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: $white-color;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.social__list {
    display: flex;
    margin: 0;

    @media screen and (max-width: 767px) {
        width: 450px;
        justify-content: center;
        }

    @media screen and (min-width: 1200px) {
        width: 206px;
    }
}

.social__item {
    margin-left: 10px;

    &:first-child {
            margin-left: 0;
        }
}

.social__link {
    @include centeredFlex (flex);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $white-color;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms $timing-function;

    &:hover, &:focus {
            background-color: $accent-color;
        }
}
